$white: #FFFFFF;
$purple-navbar: #282653;
$purple-labels: #7F56C5;
$blue-dropdown: #1DAFE9;
$grey-header: #CACBCE;
$grey-items: #808285;
$grey-pipe: #BCBEC0;
$grey-row-lt: #F0F0F0;
$grey-row-dk: #F7F7F7;
$huh: #95A2AA; // listed as header text color, but it looks the same as the dark-purple ???
