@import './_colors.scss';
@import './_fonts.scss';

html {
  background-color: $white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font;
}

h1 {
  color: $blue-dropdown;
}
