@import './_colors.scss';
@import './_fonts.scss';

* {
  box-sizing: border-box;
}
.main-nav {
  display: flex;
  height: 50px;
  margin: 0 0 12px 0;
  padding: 0;
  border: none;
  background-color: $purple-navbar;

  .main-nav-list {
    margin: 0;
    padding: 0;
    &:first-child {
      margin-left: 30px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    flex-basis: 50%;
    list-style-type: none;
    font-family: $font;
    color: $grey-navbar;
    font-size: .75rem;
    font-weight: 400;

    a {
      display: flex;
      align-items: flex-start;
      padding: 1.05rem 1rem;
      font-size: .75rem;
      max-width: 140px;
      font-weight: 400;
      text-decoration: none;
      color: $grey-navbar;

      &:hover, &:focus {
      background: $purple-labels;
      color: $white;
      font-weight: bold;
      }
    }
  }
}
