@import './_colors.scss';
@import './_fonts.scss';

// ===== TABLE NAVIGATION =====
.pagination {
  display: flex;
  margin: 0;
  padding: 0 0 10px 0;
  align-items: center;
  font-family: $font;
  font-size: .875rem;
  color: $purple-labels;

  .sort-type-label, .per-page-label {
    color: $purple-labels;
    font-size: .75rem;
    font-weight: 400;
  }
  .sort-type-select, .per-page-select {
    background-color: $white;
    color: $blue-dropdown;
    font-size: .75rem;
    font-weight: 600;
  }
  .sort-option, .per-page-option {
    border: 1px solid indigo;
    margin: 5px 5px 5px 5px;
    color: $blue-dropdown;
    font-weight: 400;

    &.bold {
      font-weight: 600;
    }
  }

  .container {
    border: 1px solid orange;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;

    .left-controls {
      border: 1px solid dodgerblue;
      margin: 5px 0 5px 5px;
      display: flex;
      justify-content: flex-start;

      h2.table-name {
        border: 1px solid indigo;
        margin: 5px 5px 5px 5px;
        padding-right: 10px;
        background-color: $white;
        font-size: 1rem;
        font-weight: 400;
        color: $purple-labels;
      }//table-name

      .sort-type {
        border: 1px solid indigo;
        margin: 5px 5px 5px 5px;

        &.sort-type-label {
          border: 1px solid maroon;
          margin: 5px 5px 5px 5px;
        }
        &.sort-type-select {
          border: 1px solid maroon;
          margin: 5px 5px 5px 5px;
        }
        .pipe-divider {
          color: $grey-pipe;
          font-weight: 300;
        }

      }

    }
    .right-controls {
      border: 1px solid dodgerblue;
      margin: 5px 5px 5px 0;
      display: flex;
      justify-content: flex-end;

      .per-page {
        border: 1px solid indigo;
        margin: 5px 5px 5px 5px;

        &.per-page-label {
          border: 1px solid maroon;
          margin: 5px 5px 5px 5px;
        }
        &.per-page-select {
          border: 1px solid maroon;
          margin: 5px 5px 5px 5px;
        }
      }

        .page-range-status {
          border: 1px solid indigo;
          margin: 5px 5px 5px 5px;

          .page-range {
          }

        }
        .page-navigation {
          border: 1px solid maroon;
          margin: 5px 5px 5px 5px;
          .prev-arrow, .next-arrow {
            font-size: 1rem;
          }

      }
    }//.right-controls
  }
  &.bold {
    font-weight: 700;
  }
  &.standard {
    font-weight: 400;
  }
  .arrow {
    color: $blue-dropdown;
  }
  button {
    border: none;
  }
}//pagination


// ===== TABLE BODY =====
table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  height: 32px;
  background-color: $grey-header;
  text-align: left;
  font-size: .75rem;
  font-weight: 700;
  color: $purple-navbar;
  &:first-of-type {
    border-radius: 3px 0 0 0;
  }
  &:last-of-type {
    border-radius: 0 3px 0 0;
  }
}

tr {
  height: 32px;
  text-align: left;
  font-size: .75rem;
  font-weight: 400;
  color: $grey-items;

  &:nth-child(even) {
    background: $grey-row-lt
  }

  tr:nth-child(odd) {
    background: $grey-row-dk
  }

  th, td {
    border: none;
    padding: 2px 8px 2px 8px;
  }
}
